doc/Shugamade_reminder_system.json
{
  "name": "Shugamade_reminder_system",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Déclenchement quotidien à 17h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "23b74b36-132c-4aeb-8f62-726a78979db8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.constants.BASE_URL }}/api/reminders/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "batch_size",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Initialiser le processus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        0
      ],
      "id": "ec84a802-da1d-4e69-be9f-348ed94e2605"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.completed }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Vérifier si terminé",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        0
      ],
      "id": "fe602b29-8292-48b9-b08a-8d1d36fcd420"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "name": "Attendre 3 secondes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        600,
        220
      ],
      "id": "2b4b5c09-0804-4d36-9a65-fb9a31825222",
      "webhookId": "149a8481-6292-4638-af36-2b5d07d52577"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Constants').item.json.constants.BASE_URL }}/api/reminders/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $node[\"Initialiser le processus\"].json.session.id }}"
            },
            {
              "name": "batch_size",
              "value": "={{ $node[\"Initialiser le processus\"].json.next_batch.batch_size }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Continuer le traitement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        820,
        220
      ],
      "id": "ffcd0107-5fa0-4057-8545-f1e2cc9c880c"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Résumé des envois",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "39bd8fb9-a444-4c39-8113-76a8f213ca10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "id": "224ef2bc-e66d-43a8-9e82-5b5833d1ee88",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "oSCdFfSAbaOrfyPQ",
          "name": "Global Constants account"
        }
      }
    }
  ],
  "pinData": {
    "Déclenchement quotidien à 17h30": [
      {
        "json": {
          "timestamp": "2025-05-24T17:30:53.016+01:00",
          "Readable date": "May 24th 2025, 5:30:53 pm",
          "Readable time": "5:30:53 pm",
          "Day of week": "Saturday",
          "Year": "2025",
          "Month": "May",
          "Day of month": "24",
          "Hour": "17",
          "Minute": "30",
          "Second": "53",
          "Timezone": "Africa/Lagos (UTC+01:00)"
        }
      }
    ]
  },
  "connections": {
    "Déclenchement quotidien à 17h30": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialiser le processus": {
      "main": [
        [
          {
            "node": "Vérifier si terminé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier si terminé": {
      "main": [
        [
          {
            "node": "Résumé des envois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attendre 3 secondes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 3 secondes": {
      "main": [
        [
          {
            "node": "Continuer le traitement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuer le traitement": {
      "main": [
        [
          {
            "node": "Vérifier si terminé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Initialiser le processus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Lagos",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "14cfc557-9eb6-433c-ac99-bc43f70048b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e069e3e0b485d3f7c02fbfcc42c37875c5218f463fcc423bbca70b5c557b5ffd"
  },
  "id": "n6A0BNgZGpKrRrEq",
  "tags": []
}