docs/n8n-reminder-workflow.json
{
  "name": "Envoi automatique des rappels de rendez-vous",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "minutesInterval": 1,
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Déclenchement quotidien à 17h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BASE_URL }}/api/reminders/process",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "batch_size",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "name": "Initialiser le processus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.completed }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Vérifier si terminé",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "name": "Attendre 3 secondes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BASE_URL }}/api/reminders/process",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $node[\"Initialiser le processus\"].json.session.id }}"
            },
            {
              "name": "batch_size",
              "value": "={{ $node[\"Initialiser le processus\"].json.next_batch.batch_size }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Continuer le traitement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "content": "={{ \"Rapport d'envoi des rappels:\\n\\n\" + \n\"Date: \" + $json.session.date + \"\\n\" + \n\"Total clients: \" + $json.session.total_clients + \"\\n\" + \n\"Messages envoyés: \" + $json.statistics.sent + \"\\n\" + \n\"Erreurs: \" + $json.statistics.error }}",
        "options": {}
      },
      "name": "Résumé des envois",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Déclenchement quotidien à 17h30": {
      "main": [
        [
          {
            "node": "Initialiser le processus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialiser le processus": {
      "main": [
        [
          {
            "node": "Vérifier si terminé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier si terminé": {
      "main": [
        [
          {
            "node": "Résumé des envois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attendre 3 secondes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 3 secondes": {
      "main": [
        [
          {
            "node": "Continuer le traitement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuer le traitement": {
      "main": [
        [
          {
            "node": "Vérifier si terminé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "",
  "id": "1",
  "meta": {
    "instanceId": "0a6c331ab7ffb1a567ad5debbfdbbc4f5830000"
  },
  "tags": []
}
